@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	background-color: #051B2A;
	font-family: Montserrat, 'Helvetica';
}
.contenedor{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 4rem;
	gap: 4rem;
	perspective: 900px;
}

.tarjeta{
	width: 15rem;
	height: 25rem;
	position: relative;
	transform-style: preserve-3d;
	transition: transform .2s;
}
.tarjeta:hover{
	transform: scale(1.2);
}



[class*="lado"]{
	width: 100%;
	height: 100%;
	border-radius: 1rem;
	padding: 1rem;
	position: absolute;
	top: 0;
	left: 0;
	backface-visibility: hidden;
	transition: all .3s;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
}

[class*="lado"] span{
	font-size: 4rem;
	display: block;
}
[class*="lado"] > *{
	text-align: center;
}
.lado-A{
	background-color: #07303B;
	box-shadow: 0 0 30px rgba(0, 253, 255, 1);
	color: aqua;
}

.tarjeta:hover .lado-A{
	transform: rotateY(180deg);
	box-shadow: 50px 0 1000px rgba(0, 253, 255, 1);
}


.lado-B{
	background-color: rgb(0, 253, 255);
	transform: rotateY(180deg);
}

.tarjeta:hover .lado-B{
	transform: rotateY(360deg);
}